*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Josefin Sans", sans-serif;
  color: #eee;
  font-weight: 300;
  line-height: 1.6; }

/*
body > * {
    padding: 1rem;
    color: red;
    font-size: 1.6rem;
}
*/
.container {
  display: grid;
  grid-template-rows: 6rem 80vh repeat(6, min-content);
  grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end]; }

.heading-1, .heading-2, .heading-3, .heading-4 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400; }

.heading-1 {
  font-size: 5.6rem;
  letter-spacing: 0.6rem;
  font-weight: 300;
  line-height: 1; }

.heading-2 {
  font-size: 2.4rem;
  font-weight: 300;
  font-style: italic; }

.heading-3 {
  font-size: 1.9rem;
  font-family: "Montserrat", sans-serif;
  color: #dddddd; }

.heading-4 {
  font-size: 1.9rem; }

.btn {
  background-color: #1c5b77;
  color: #fff;
  border: none;
  border-radius: 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.65rem;
  text-transform: uppercase;
  padding: 1.5rem 3.2rem;
  cursor: pointer;
  transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;
  border-radius: 0.5rem; }
  .btn:hover {
    background-color: #227093;
    transform: translateY(-0.5rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.548); }

.nav {
  background-color: #1c5b77;
  grid-column: full-start / full-end;
  font-size: 1.7rem;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr repeat(4, minmax(min-content, 1fr)) 1fr;
  grid-template-rows: 6rem;
  box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.445);
  z-index: 1; }
  .nav__logo {
    display: block;
    width: 58%;
    margin-left: 21%;
    height: 100%; }
  .nav__link:link, .nav__link:visited {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    color: #eee;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
    text-transform: uppercase;
    text-align: center;
    transition: background-color 0.27s; }
  .nav__link:hover, .nav__link:active {
    background-color: #1f6585; }

.header__text {
  background-color: #1d1d1d;
  grid-column: full-start / col-end 6;
  padding: 10rem;
  padding-left: 25vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content min-content minmax(6rem, min-content) 1fr;
  justify-content: start; }

.header__btn {
  justify-self: start;
  align-self: start;
  margin-right: 1.5rem; }

.header__picture {
  grid-column: col-start 7 / full-end;
  background-color: #1d1d1d;
  display: flex;
  justify-content: center;
  align-items: center; }

.description {
  color: #fff; }

.about__text {
  background-color: #1d1d1d;
  grid-column: center-start / col-end 4; }

.about__pictures {
  background-color: #181818ee;
  grid-column: col-start 5 / center-end; }

.skills {
  background-color: #786fa6;
  grid-column: center-start / center-end; }

.projects {
  background-color: #f1efee;
  grid-column: full-start / full-end; }

.contact {
  background-color: #dddddd;
  grid-column: center-start / center-end; }

.footer {
  background-color: #1c5b77;
  grid-column: full-start / full-end; }
