.about {
    &__text {
        padding-top: 10rem;

        grid-column: center-start / col-end 4;

        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
        }

        @media only screen and (max-width: $bp-mostsmallest) {
            padding-top: 12rem;
        }
    }

    &__pictures {
        grid-column: col-start 5 / center-end;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 10rem;

        @media only screen and (max-width: $bp-small) {
            grid-column: center-start / center-end;
        }
    }

    &__picture {
        width: 90%;
        display: block;
    }

    &__description {
        font-size: 2rem;
        margin-top: 1.5rem;
        width: 100%;

        @media only screen and (max-width: $bp-small) {
            font-size: 2.2rem;
            padding: 3rem;
        }

        @media only screen and (max-width: $bp-mostsmallest) {
            padding: 0.5rem;
        }
    }
}
