// Color Variables
$color-background: #1d1d1d;
$color-background-light: #181818ee;

$color-font-primary: #eee;

$color-primary: #30336b;
$color-primary-dark: #130f40;

$color-secondary: #786fa6;

$color-grey-light-1: #f1efee;
$color-grey-light-2: #dddddd;

$color-grey-dark-0: #227093;
$color-grey-dark-1: #1f6585;
$color-grey-dark-2: #1c5b77;

// Font variables
$font-primary: 'Josefin Sans', sans-serif;
$font-secondary: 'Montserrat', sans-serif;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

body {
    font-family: $font-primary;
    color: $color-font-primary;
    font-weight: 300;
    line-height: 1.6;
}

/*
body > * {
    padding: 1rem;
    color: red;
    font-size: 1.6rem;
}
*/

.container {
    display: grid;
    grid-template-rows: 6rem 80vh repeat(6, min-content);
    grid-template-columns:
        [full-start] minmax(6rem, 1fr) [center-start] repeat(
            8,
            [col-start] minmax(min-content, 14rem) [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
}
