.header {
    &__text {
        background-color: $color-background;
        grid-column: full-start / col-end 6;
        padding-left: 25vw;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__picture {
        grid-column: col-start 7 / full-end;
        background-color: $color-background;

        display: flex;
        justify-content: start;
        align-items: center;
    }

    &__description {
        margin-top: 1.5rem;
        margin-bottom: 8rem;
    }

    &__btn {
        margin-right: 1.5rem;
    }

    &__scroll {
        grid-row: 3;
        grid-column: full-start / full-end;

        display: flex;
        justify-content: center;
    }

    &__icon {
        fill: $color-grey-dark-2;
        height: 4.5rem;
        width: 4.5rem;
    }
}

.description {
    color: #fff;
}
