.nav {
    background-color: $color-grey-dark-2;
    grid-column: full-start / full-end;
    font-size: 1.7rem;
    list-style: none;
    line-height: 1;

    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(min-content, 1fr)) 1fr;
    grid-template-rows: 6rem;
    box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.445);
    z-index: 1;

    &__icon {
        fill: #fff;
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 1.25rem;
    }

    &__link:link,
    &__link:visited {
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;
        color: $color-font-primary;
        text-decoration: none;
        text-transform: uppercase;
        transition: background-color 0.27s;
    }

    &__link:hover,
    &__link:active {
        background-color: $color-grey-dark-1;
    }
}
