.nav {
    background-color: $color-grey-dark-2;
    grid-column: full-start / full-end;
    font-size: 1.7rem;
    list-style: none;
    line-height: 1;

    display: flex;
    justify-content: space-around;
    box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.445);
    z-index: 1;

    @media only screen and (max-width: $bp-smallest) {
        justify-content: center;
    }

    &__icon {
        fill: #fff;
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 1.25rem;

        @media only screen and (max-width: $bp-smallest) {
            margin: 0.5rem 0 0.8rem 0;
            height: 2rem;
            width: 2rem;
        }
    }

    &__link {
        padding: 0 8rem;
        display: flex;
        justify-content: center;
        align-items: center;

        height: 100%;
        width: 100%;
        border: none;
        font-size: 1.6rem;
        font-family: $font-secondary;
        color: $color-font-primary;
        background-color: $color-grey-dark-2;
        text-transform: uppercase;
        transition: background-color 0.27s;

        @media only screen and (max-width: $bp-medium) {
            padding: 0 2rem;
        }

        @media only screen and (max-width: $bp-smallest) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    &__link:focus {
        outline: none;
    }

    &__link:hover {
        background-color: $color-grey-dark-1;
        cursor: pointer;
    }
}
