.nav {
    background-color: $color-grey-dark-2;
    grid-column: full-start / full-end;
    font-size: 1.7rem;
    list-style: none;

    display: grid;
    grid-template-columns: 1fr repeat(4, minmax(min-content, 1fr)) 1fr;
    grid-template-rows: 6rem;
    box-shadow: 0 0.7rem 0.8rem rgba(0, 0, 0, 0.445);
    z-index: 1;

    &__item {
    }

    &__link:link,
    &__link:visited {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 100%;
        width: 100%;
        color: $color-font-primary;
        text-decoration: none;
        font-family: $font-primary;
        text-transform: uppercase;
        text-align: center;

        transition: background-color 0.27s;
    }

    &__link:hover,
    &__link:active {
        background-color: $color-grey-dark-1;
    }
}
