.projects {
    background-color: $color-grey-dark-2;
    padding: 4rem;

    grid-column: full-start / full-end;

    display: flex;
    flex-direction: column;

    @media only screen and (max-width: $bp-mostsmallest) {
        padding: 3rem 0.2rem;
    }

    &__header {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;

        &--text {
            font-size: 1.8rem;
            width: 50%;

            @media only screen and (max-width: $bp-small) {
                font-size: 2rem;
                width: 60%;
            }

            @media only screen and (max-width: $bp-mostsmallest) {
                width: 80%;
            }
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(42rem, 1fr));
        grid-auto-rows: min-content;
        grid-gap: 2rem;
        grid-column-gap: 2vw;
        margin: 0 2rem;

        @media only screen and (max-width: $bp-largest) {
            grid-column-gap: 3vw;
            margin: 0 1rem;
        }

        @media only screen and (max-width: $bp-mostsmallest) {
            grid-column-gap: 3vw;
            margin: 0 0.2rem;
        }
    }
}

.project {
    background-color: #242424;
    margin: 2rem;
    padding: 1rem 0.5rem 2rem 0.5rem;
    border-radius: 1rem;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.5);
    transition: transform 0.2s;

    display: flex;
    flex-direction: column;
    align-items: center;

    @media only screen and (max-width: $bp-mostsmallest) {
        margin: 1rem;
    }

    &:hover {
        transform: translateY(-0.5rem);
    }

    &__img {
        width: 85%;
        border-radius: 0.5rem;

        @media only screen and (max-width: $bp-small) {
            width: 80%;
        }
    }

    &__skills {
        align-self: stretch;

        font-size: 1.6rem;
        margin: 1rem 1rem 2rem 1rem;
        font-weight: 400;
        text-transform: uppercase;

        display: flex;
        justify-content: space-evenly;

        @media only screen and (max-width: $bp-largest) {
            font-size: 1.2rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-mostsmallest) {
            font-size: 1.4rem;
        }
    }

    &__skill {
        background-color: $color-grey-dark-2;
        padding: 0.3rem 1.5rem;
        border-radius: 4rem;

        @media only screen and (max-width: $bp-mostsmallest) {
            padding: 0.2rem 1rem;
        }
    }

    &__description {
        width: 80%;
        font-size: 1.6rem;
        font-family: $font-secondary;
        margin-bottom: auto;
        text-align: center;

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }
    }

    &__icon {
        height: 1.5rem;
        width: 1.5rem;
        fill: #fff;
        margin-right: 0.6rem;
        transform: translateY(-2px);
    }

    &__btns {
        display: flex;
        margin-top: 2rem;
        padding: 1rem;
    }

    &__btn {
        line-height: 1;
        display: flex;
        align-items: center;
        font-size: 1.4rem;

        &:first-of-type {
            margin-right: 2rem;

            @media only screen and (max-width: $bp-mostsmallest) {
                margin-right: 1rem;
            }
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.8rem;
        }

        @media only screen and (max-width: $bp-mostsmallest) {
            font-size: 1.4rem;
        }
    }
}
