.projects {
    background-color: $color-background-light;
    grid-column: full-start / full-end;

    padding: 2rem 25rem;

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 5rem;
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap: 11rem;
        grid-column-gap: 25rem;
    }

    &__text {
        font-family: $font-secondary;
        font-size: 1.8rem;
        width: 50%;
        text-align: center;
    }
}

.project {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    justify-items: center;
    grid-row-gap: 1.8rem;

    &__img {
        display: block;
        width: 90%;

        border-radius: 0.6rem;
        box-shadow: 0 1.1rem 1rem rgb(14, 14, 14);
    }

    &__skills {
        justify-self: stretch;
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        text-transform: uppercase;
    }

    &__skill {
        padding: 1.2rem 1.8rem 0.7rem 1.8rem;
        line-height: 1;
        background-color: $color-grey-dark-0;
        font-weight: 400;
        border-radius: 3rem;
        box-shadow: 0 1rem 1.5rem #111;
    }

    &__description {
        margin-top: 1.2rem;
        width: 75%;
        text-align: center;
        font-size: 1.6rem;
        font-family: $font-secondary;
    }

    &__btn {
        border-radius: 3rem;

        &:first-of-type {
            margin-right: 2rem;
        }
    }

    &__icon {
        fill: #fff;
        height: 1.75rem;
        width: 1.75rem;
        margin-right: 0.2rem;
        transform: translateY(2px);
    }
}
