.skills {
    grid-column: center-start / center-end;

    margin: 15rem 0;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(28rem, 1fr));
    grid-template-rows: min-content;
    grid-gap: 5rem;
}

.skill {
    background-color: #242424;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    transition: transform 0.25s, box-shadow 0.25s;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &:hover {
        transform: translateY(-1rem);
        box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.6);
    }

    &__icons {
        padding: 2rem;
        flex: 0 0 30%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(12, 12, 12);
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }

    &__icon {
        height: 10rem;
        width: 10rem;
        padding: 1rem;
    }

    &__description {
        padding: 1rem 3rem 1rem 3rem;
        flex: 1;

        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    &__text {
        margin-top: 1.5rem;
        font-size: 1.8rem;
        margin-bottom: auto;

        @media only screen and (max-width: $bp-small) {
            font-size: 2rem;
        }
    }

    &__learn {
        margin-top: 2.5rem;
        font-size: 1.4rem;
    }

    &__date {
        font-style: italic;
        color: $color-grey-dark-0;
        font-weight: 400;
    }
}
