%heading {
    font-family: $font-primary;
    font-weight: 400;
}

.heading-1 {
    @extend %heading;
    font-size: 5.6rem;
    letter-spacing: 0.6rem;
    font-weight: 300;
    line-height: 1;
}

.heading-2 {
    @extend %heading;
    font-size: 2.4rem;
    font-weight: 300;
    font-style: italic;
}

.heading-3 {
    @extend %heading;
    font-size: 1.9rem;
    font-family: $font-secondary;
    color: $color-grey-light-2;
}

.heading-4 {
    @extend %heading;
    font-size: 1.9rem;
}

.btn {
    background-color: $color-grey-dark-2;
    color: #fff;
    border: none;
    border-radius: 0;
    font-family: $font-primary;
    font-size: 1.65rem;
    text-transform: uppercase;
    padding: 1.5rem 3.2rem;
    cursor: pointer;
    transition: background-color 0.25s, transform 0.25s, box-shadow 0.25s;
    border-radius: 0.5rem;

    &:hover {
        background-color: $color-grey-dark-0;
        transform: translateY(-0.5rem);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.548);
    }
}
