*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    font-family: 'Lato', sans-serif;
    color: #e5e6f1;
    line-height: 1.6;
    font-weight: 300 !important;
    background: rgb(46, 134, 222);
    background: linear-gradient(
        to right bottom,
        rgba(46, 134, 222, 1) 0%,
        rgba(0, 210, 211, 1) 100%
    );
}

.grid-container-main {
    font-weight: 300;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 160px);
}

.grid-container-nav {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: 50px;
}

.grid-item {
    font-size: 1.8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.item-projects {
    grid-column: 2 / span 2;
}

.item-card {
    border-radius: 5px;
    cursor: pointer;
    border: 3px dotted #e5e6f1;
    transition: all 0.3s;
    margin-right: 50px;
    margin-left: 50px;
}

.item-card:hover {
    border: 3px solid black;
}

.item-card:hover p {
    transform: translateY(-10px);
}

.item-about {
    grid-column: 4 / span 2;
}

.item-info,
.item-construction,
.item-contact {
    grid-column: 2 / span 4;
}

p {
    transition: transform 0.3s;
}

.icon-wrapper i {
    font-size: 60px;
}

.name {
    font-size: 2.5rem;
}
